*{
    padding: 0%;
    margin: 0% ;
}
.nav{
    background-color: #333333;
    margin: auto;
    padding: 3px;
    height: 80px;
    width: 1860px; 
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-title{
    color: rgb(255, 255, 255);
    font-family: cursive;
    display: flex;
    align-items: center;
    margin-left: 366px;
    vertical-align: 10%;
}
.nav-links{
    color:white;
    font-family: cursive;
    display:flex;
    align-items:center;
    justify-content:flex-end;
    margin:1px;
}
.owo{
    color: rgb(255, 255, 255);
    justify-content: space-around;
    margin: 5px;
}
.active{
    color: white;
    margin: 5px;

}
.uwu{
    color: rgb(209, 209, 209);
    justify-content: space-around;
    margin: 5px;
}
.btn{
    background-color:  rgb(97, 202, 228);
    color: white;
    font-size: 16px;
    box-shadow: 5px 5px #000000;
    margin: 20px;
} 
.headere{
    flex: 0;
    background-color: rgb(255, 94, 94);
    color: rgb(255, 255, 255);
    padding: 20px;
    height: 5px;
}
.header{
    flex: 0;
    background-color: rgb(5, 230, 230);
    color: rgb(9, 184, 184);
    padding: 40px;
    height: 20px;
}
.main{
    padding-top:0em ;
    background-color: rgba(234, 231, 231, 0.932);
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 470px;
    height: 360px;
    outline: solid rgb(154, 153, 153) 2px;
    margin: 15px;
}
.imagen{
    height: 4em;
    border-radius: 37px;
    padding: 2px;
    top: 50px;
    outline: solid rgb(255, 255, 255) 10px;
    margin: 3%;
}
.imge{
    height: 20px;
    margin: 5px;
}
.img{
    height: 20px;
    margin: 5px
}
.user{
    height: 50px;
    width: 50px;
}
.xd{
    color: rgb(89, 89, 221);
}
.hea{
    flex: 0;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 15px;
    height: 10px;
}
.maini{
    padding-top:0em ;
    background-color: rgba(234, 231, 231, 0.932);
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 470px;
    height: 150px;
    outline: solid rgb(154, 153, 153) 2px;
    margin-top: 100px;
}
.texto{
    margin-left: 10px;
    margin-top: 14px;
    font: 20px sans-serif;
}
.texto-2{
    font: 14px sans-serif;
    margin-left: 10px;
    margin-top: 7px;
    color: #a0a0a0;
}
.texto-3{
    margin-left: 10px;
    margin-top: 7px;
    font: 14px sans-serif;
}
.nekoyutsu{
    padding-top:0em ;
    background-color: rgba(234, 231, 231, 0.932);
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 230px;
    height: 170px;
    outline: solid rgb(154, 153, 153) 2px;
    margin: 15px;
    margin-top: 5%;
}
.neko{
    flex: 0;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 15px;
    height: 10px;
    outline: solid rgb(154, 153, 153) 2px
}
.miauu{
    margin: 2%;
    height: 30px;
    border-radius: 40px;
    padding: 3px;
    top: 30px;
}
.increases{
    background-color: #a0a0a0;
    color: white;
    outline: solid #a0a0a0;
    border-radius: 40px;
    margin: 2%;
    height: 20px;
    width: 20px;
}
.decrease{
    background-color: #a0a0a0;
    color: white;
    outline: solid #a0a0a0;
    border-radius: 40px;
    margin: 2%;
    height: 20px;
    width: 20px;
}
.increases-2{
    background-color: #a0a0a0;
    color: white;
    outline: solid #a0a0a0;
    border-radius: 40px;
    margin-left: 5%;
    height: 20px;
    width: 20px;
}
.decrease-2{
    background-color: #a0a0a0;
    color: white;
    outline: solid #a0a0a0;
    border-radius: 40px;
    margin: 4%;
    height: 20px;
    width: 20px;
}
.conex{
    flex: 0;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 15px;
    height: 10px;
}
.user{
    margin: 3%;
    height: 3em;
    border-radius: 37px;
    padding: 3px;
    top: 40px;
}
.sub-content1 {
    height: 200px;
    width: 310px;
    background-color: rgb(184, 73, 73);
    display: inline-block;
    margin: 10px;
}.sub{
    height: 30px;
    width: 194px;
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 7px;
}
.sub6{
    height: 7px;
    width: 194px;
    background-color: rgb(125, 98, 98);
    display: inline-block;
    margin: 3px;
    display: flex;
}
.container{
    width: 1166px;
    background-color: rgb(255, 255, 255);
    margin: 1px auto;
    padding: 10px;
    height: 1000px;
    display: flex;
}
.col1{
    flex: 1;
}
.col2{
    flex: 2;
}
.nekoyutsus{
    padding-top:0em ;
    background-color: rgba(234, 231, 231, 0.932);
    color: rgb(0, 0, 0);
    font-family: cursive;
    width: 230px;
    height: 320px;
    outline: solid rgb(154, 153, 153) 2px;
    margin: 15px;
}
.nekos{
    flex: 0;
    background-color: rgb(53, 53, 53);
    color: rgb(255, 255, 255);
    padding: 15px;
    height: 30px;
    outline: solid rgb(154, 153, 153) 2px
}
.xxd{
    background-color: rgba(234, 231, 231, 0.932);
    color: rgb(89, 89, 221);
    margin: 10%;
    padding: 5px;
    height: 15px;
}
.ubi{
    margin: 5%;
}
.wua{
    color: rgba(234, 231, 231, 0.932);
}
/*.mi{
    margin: 2%;
    height: 20px;
    border-radius: 40px;
    padding: 1px;
    top: 5px;
    width: 20px;
}
.grr{
    margin: 2%;
    height: 20px;
    border-radius: 40px;
    padding: 1px;
    top: 5px;

}*/

    /*clases para lo que se le dara alguna funcion JS*/
.usuario{
    margin: 14px;
}
.num{
    background-color: #d8d8d8;
    color: black;
    border-radius: 20%;
    margin-right: 5px;
    font: 14px sans-serif;
}
.rest{
    background: linear-gradient(to left, rgb(107, 218, 255), rgb(62, 186, 231));
    margin-right: 5%;
    margin-left: 5%;
    height: 17px;
    width: 40px;
}
.sum{
    background: linear-gradient(to left, rgb(117, 221, 255), rgb(44, 189, 241));
    font: 12px sans-serif;
    height: 17px;
    width: 60px;
}