* {
    margin: 0;
    padding: 0;

}

.wiki {
    display: flex;
}

.col, .col-2, .col-3 {
    margin: 10px;
    padding: 10px;
    background-color: cadetblue;
    flex: 1;
}
.col{
    background-color: rgb(63, 255, 197);
    flex: 1;
}
.row {
line-height: 0;
}.wall {
    background-color: aquamarine;
    height: 40px;
    width: 40px;
    display: inline-block;
}

.sushi {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('img/sushi.png');
    background-size:contain;
}

.blank {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
}

#ninjaMan {
    background-color: black;
    height: 40px;
    width: 40px;
    display: inline-block;
    background-image: url('img/ninja.gif');
    background-size: contain;
    position: absolute;
    left: 40px;
    top: 40px;
}